<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/public/home.css" />
  </head>
  <body>
    <div class="menu">
      <a href="/profile">Profile</a>
      <a class="active" href="/leaderboard">Leaderboard</a>
      <a href="/updatemvp">MVP Update</a>
    </div>
    <h1 style="text-align: center">Leaderboard</h1>
    <div id="leaderboardData" style="text-align: center"></div>
  </body>
  <script src="/public/leaderboard.js"></script>
</html>
