<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Update</title>
    <link rel="stylesheet" href="/public/home.css" />
  </head>
  <body>
    <div class="menu">
      <a href="/profile">Profile</a>
      <a href="/leaderboard">Leaderboard</a>
      <a class="active" href="/updatemvp">MVP Update</a>
    </div>
    <h1 style="text-align: center">CHANGELOG -</h1>

    <div>
      <div
        style="
          background: ghostwhite;
          font-size: 20px;
          padding: 10px;
          border: 1px solid lightgray;
          margin: 10px;
          text-align: center;
        "
      >
        <h2>WEEK 1</h2>
        <h3>Leaderboard Progess</h3>
        <p>
          This week all I did was create the home page the had the windows for
          my MVP plan. No Login functionality yet. Although I started the
          assignment
        </p>
        <h3>MVP Group Progess</h3>
        <p>Lab Work</p>
      </div>
      <div
        style="
          background: ghostwhite;
          font-size: 20px;
          padding: 10px;
          border: 1px solid lightgray;
          margin: 10px;
          text-align: center;
        "
      >
        <h2>WEEK 2</h2>
        <h3>Leaderboard Progess</h3>
        <p>
          This week I created the login page as well as the modal windows to see
          what my MVP project is about. I started the routes although I have no
          idea how to create sessions yet, so I am waiting for it in class
        </p>
        <h3>MVP Group Progess</h3>
        <p>No Progess...</p>
      </div>
      <div
        style="
          background: ghostwhite;
          font-size: 20px;
          padding: 10px;
          border: 1px solid lightgray;
          margin: 10px;
          text-align: center;
        "
      >
        <h2>WEEK 3</h2>
        <h3>Leaderboard Progess</h3>
        <p>
          This week I implemented the login and mySQL. I created sessions and
          access the database. I was able to finally access the profile pages
          and login/logout. I only need to work on the profile page and
          leaderboard page and I should be ready to go. I further added on the
          update page as well as implementing the profile page. I added the user
          data and edit button to check each data. This week I finished the
          profile page and all that is left for me to do is finish the
          Leaderboard and Comments.
        </p>
        <h3>MVP Group Progess</h3>
        <p>Finished MVP Report and Video Presentation</p>
      </div>
      <div
        style="
          background: ghostwhite;
          font-size: 20px;
          padding: 10px;
          border: 1px solid lightgray;
          margin: 10px;
          text-align: center;
        "
      >
        <h2>WEEK 4</h2>
        <p>Finished Leaderboard Project</p>
      </div>
    </div>
  </body>
</html>
